<p>Hello! We are a new group in the Kansas City area that's excited about learning Rust.</p>

<p>New to Rust? Check out the <a href="https://www.rust-lang.org/">official site</a>.</p>

<p>Feel free to reach out to us:</p>
<ul>
  <li><a href="https://www.meetup.com/Rust-KC/">Meetup</a></li>
  <li><a href="https://rustkc-slack.herokuapp.com/">Slack</a></li>
</ul>
