<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>{{ config.title }}</title>
    
        <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='hallo.css') }}">

        {% if config.extra.theme %}
            <style>
                body {
                    color: {{ config.extra.theme.foreground }} !important;
                    background-color: {{ config.extra.theme.background }} !important;
                }

                a {
                    color: {{ config.extra.theme.foreground }} !important;
                }

                a:hover {
                    color: {{ config.extra.theme.hover }} !important;
                }

                img.portrait {
                    border: 10px solid {{ config.extra.theme.foreground }} !important;
                }
            </style>
        {% endif %}
    </head>
    <body>
        <main>
            <div class="column left">
                <img src="{{ get_url(path='images/rust.svg') }}" class="portrait" alt="Portrait" />
            </div>
            <div class="column right">
                <h1>{{ config.extra.greeting | default(value="Hello") }}</h1>
                <p>{% include "partials/introduction.html" %}</p>
            </div>
        </main>
    </body>
</html>
